/* common */
.updateBtn, .deleteBtn {
  /* background-color: #4D91B6;  */
  border: 1px solid #ccc;
  border: none;
}
.goBoard {
  background-color: #4D91B6;
  border: none;
  color: #fff;
}
.alertBtn, .replyDeleteBtn {
  border: none;
}
.alertBtn:hover, .replyDeleteBtn:hover{
  background-color: transparent;
  color: #6C757D;
}
.onPost {
  background-color: #4D91B6; 
  border: none;
}
.onPost:hover, .goBoard:hover{
  background-color: #427D9D;
}
.listInfo, .detailInfo, .replyInfo {
  font-size: 14px; color: #6A6A6A;
}


/* board (게시판) */
.board .onPostBtn {background-color: #4D91B6; border: none;}
.board .boardHeader {margin-top: 40px}
.board .listHeader {padding: 20px 0 17px; border-bottom: 1px solid #171717;}

.board .list {padding: 32px; border-bottom: 1px solid #e8e8e8; cursor: pointer;}
.board .listTitle, .listContent  {margin-bottom: 13px;}
.board .listTitle {font-size: 18px;}
.board .listContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #6A6A6A;
}
.board .listInfo .userid:after{
  content:'|';
  margin: 5px;
}

.boardSort {
  width: 28%;
  margin-right: 5px;
}


/* board-Detail (상세 게시글) */
.boardDetail .titleWrap {margin: 40px 0 20px}
.boardDetail .blockedPost {
  margin: 60px 0;
}
.boardDetail .detailWrapper {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 60px 50px;
  margin-bottom: 50px;
}
.detailMain .heartBtn{cursor: pointer; margin: 0 10px 10px 0}
.detailMain .detailTitle { width: 70%;}
.detailMain .deatilContent {white-space: pre-wrap;}
.detailMain .detailInfo{
  padding: 0 0 20px;
  margin: 0 0 20px;
  border-bottom: 1px solid #e8e8e8
}
.detailMain .detailInfo .userid {color: #4D91B6;}
.detailMain .detailInfo .userid:after{
  content:'|';
  margin: 5px;
  color: #6A6A6A;
}
.detailMain .detailInfo .spamBtn{cursor: pointer;}
.detailMain .detailContentWrap {
  padding: 0 0 170px;
}
.detailContentWrap .detailImage {margin-bottom: 15px;}
.detailContentWrap .detailImage .boardImg {
  margin-bottom: 10px; display: block;
  width: 100%; height: auto;
}
@media screen and (min-width: 992px){
  .detailContentWrap .detailImage .boardImg{width: 60%;}
}
@media screen and (min-width: 1200px){
  .detailContentWrap .detailImage .boardImg{width: 40%;}
}
.detailMain .btnWrap .updateBtn {margin-right: 5px;}


/* ReplyForm (댓글 폼) */
.replyHeader {border-bottom: 1px solid #e8e8e8; padding: 0 0 7px 0;}
.replyCountWrap .replyCount {margin-right: 15px;}
.replyCountWrap .chatIcon, .replyLength, .likeCounts {color: #427D9D;}
.replyCountWrap .chatIcon, .heartIcon {
  margin-right: 5px;
}
.replyCountWrap .heartIcon {color: #427D9D; cursor: pointer;}

.replyList {padding: 20px 0; border-bottom: 1px solid #eee;}
.replyList .replyInfo .userId {color: #427D9D;}
.replyList .replyInfo .userId:after, .writerId:after{
  content:'|';
  margin: 5px;
}

.replyForm {padding: 20px 0;}
.replyForm .replyId {margin-bottom: 10px; color: #427D9D; font-size: 15px;}
.replyForm .replyInput{
  padding: 0 16px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  width: 100%;
}
.replyForm .replySubmit{
  background-color: #4D91B6; 
  border: none;
  margin: 0 0 0 10px;
}
.replySubmit:hover {background-color: #427D9D;}

.loginNeeded {margin: 100px 0 40px 0; text-align: center;}
.login {color: #427D9D;}


/* Pagination */
.pageNav {margin: 30px 0 80px;}
.pageNav .prevBtn, .pageNav .nextBtn {
  background-color: transparent; 
  border: none; 
  color: #494949;
  cursor: pointer;
}
.pageNav .prevBtn {margin-right: 7px;}
.pageNav .nextBtn {margin-left: 7px;}
.pageNav .currentPageBtn {background-color: transparent; color: #4D91B6;}
.noCurrentPageBtn {background-color: transparent;}
.currentPageBtn, .noCurrentPageBtn {
  margin: 0 7px;
  border: none; 
  color: #494949;
}

.pageNav .prevBtn:hover, .pageNav .nextBtn:hover, .pageNav .currentPageBtn:hover, .pageNav .noCurrentPageBtn:hover {
  background-color: transparent; color: #4D91B6;
}

.pageNav .prevBtn:active, .pageNav .nextBtn:active, .pageNav .currentPageBtn:active, .pageNav .noCurrentPageBtn:active {background-color: transparent;}




