/* font */
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

body{font-family: 'Pretendard-SemiBold';}
.medium{font-family: 'Pretendard-Medium';}
.regular{font-family: 'Pretendard-Regular';}


/* Header */
.toggleBtn:active, .toggleBtn:focus{
  outline: none!important;
  box-shadow: none!important;
}

@media screen and (min-width: 768px){
  .toggleBtnWrap{display: none!important;}
} /* 헤더 토글 버튼 md보다 큰 화면에서 아예 보이지 않도록 설정 */
/* .toggleBtnWrap{height: 50px;} */

/* chatBtn */
.chatBtnWrap{position: fixed; bottom: 40px; right: 40px;}
.chatBtn{
  width: 50px; height: 50px; border-radius: 50%;
  background-color: rgb(77, 145, 182); border: none;
  z-index: 20;
}
.ChatDotsFill{color: white; font-size: 30px;}

/* common setting */
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}
.inner{max-width: 1320px;}

input{
  padding: 2px 5px; border: 1px solid #ddd; border-radius: 2px;
  outline: none; font-family: 'Pretendard-Regular';
}
input[type="file"]{
  /* 파일 업로드 기본 버튼 삭제 */
  width: 0; height: 0; padding: 0; margin: 0; border: 0;
  position: relative; z-index: 10;
}

textarea{
  width: 100%; font-family: 'Pretendard-Regular';
  border: 1px solid #ddd; border-radius: 2px;
  resize: none;
  overflow-y: hidden; /* prevents scroll bar flash */
  padding: 1.1em; /* prevents text jump on Enter keypress */
  padding-bottom: 0.2em;
  line-height: 1.6;
}
textarea:focus{outline: none;}

input::placeholder{color: #979797; font-family: 'Pretendard-Regular';}
textarea::placeholder{color: #979797; font-family: 'Pretendard-Regular';}