/* font */
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

body{font-family: 'Pretendard-SemiBold';}
.medium{font-family: 'Pretendard-Medium';}
.regular{font-family: 'Pretendard-Regular';}


/* Header */
.toggleBtn:active, .toggleBtn:focus{
  outline: none!important;
  box-shadow: none!important;
}

@media screen and (min-width: 768px){
  .toggleBtnWrap{display: none!important;}
} /* 헤더 토글 버튼 md보다 큰 화면에서 아예 보이지 않도록 설정 */

/* common setting */
.inner{max-width: 1320px;}