.title {
    margin-top: 70px;
}

.form_box {
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
}

.input_box {
    width: 50%; max-width: 258px;
    margin: 10px;
}

.input_form {
    width: 100%;
    margin : 10px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(204, 204, 204);
}

.login_btn {
    width: 60px; padding: 6px 10px;
    margin: 0 10px;
    background-color: rgb(77, 145, 182);
    border: none;
    border-radius: 7px;
    color:#fff;
    font-size: 14px;
    transition: 0.2s ease;
}

.login_btn:hover{
    background-color: rgb(22, 72, 99);
}

.password_box{
    position: relative;
}

.password_eye{
    padding: none;
    position: absolute; right:3%; top:10%;
    border: none;
    background: transparent;
    cursor:pointer;
}

.more_info {
    margin: 10px 0;
}

.join_info {
    margin-right : 10px;
    color: #868686;
}

.find_info {
    margin: 0 5px;
    position: relative;
}

.error_box {
    margin: 5px 0;
    color : rgb(220, 53, 69);
}

.back_btn {
    width: 60px; padding: 6px 10px;
    margin: 0 10px;
    border: none;
    background-color: #979797;
    border-radius: 7px;
    color:#fff;
    font-size: 14px;
    transition: 0.2s ease;
}

.back_btn:hover{
    background-color: #6d6d6d;
}