.modal{--bs-modal-width: 400px;}

/* .modalBtn{font-size: 17px;} */

.noBtn{border: 1px solid #ccc;}

.yesBtn{
  width: 50px;
  background-color: #4D91B6; border: 1px solid rgb(77, 145, 182);
}
.yesBtn:hover{background: #427D9D; border: 1px solid #427D9D;}