* { margin: 0; padding: 0; }
ul, ol, li { list-style: none; }

.inner { max-width: 1320px; display: flex; }

.leftNav, .content { border: 1px solid black; }
.leftNav { padding: 10px 20px; width: 15%; }
.content { padding: 20px 30px; width: 85%; }
.navTitle { border-bottom: 2px solid black; }

/* BUY LIST */
.buyList { border-top: 2px solid black; }
.reviewBtn { padding: 0 5px; background-color: #427D9D; border: none; border-radius: 10px; color: white; }

/* REVIEW LIST*/
.revWrap { 
  display: flex; align-items: center; 
  margin: 0; padding: 10px 0;
  border-bottom: 1px solid #ddd; 
}
.revWrap:first-of-type { border-top: 2px solid black; }
.more { border: 0; background-color: transparent; }

.toggleBtn, .toggleBtn:hover, .toggleBtn:active, .toggleBtn:focus { background-color: transparent; border: 0; color: black }
.toggleBtn::after { content: none; }


/* MYPAGE EDIT */
.infoItem { display: flex; }
.infoItem p { width: 30%; }
.infoItem input { width: 70%; }

.btnWrap .cancel {}
.btnWrap .edit {}