* { margin: 0; padding: 0; }
ul, ol, li { list-style: none; }

.inner { display: flex; justify-content: space-between;}

.leftNav, .content { border: 1px solid #bbb; border-radius: 6px; }
.leftNav { padding: 10px 20px; width: 15%; height: 300px; white-space: nowrap; overflow: hidden; }
.content { padding: 20px 30px; width: 83%; }
.navProfile { display: flex; border-bottom: 1px solid black; }


/* TRADE LIST */
.tradeList { border-top: 1px solid black; }
.reviewBtn {  padding: 3px 10px; background-color: #427D9D; border: none; border-radius: 10px; color: white; }
.complete { width: 75px; padding: 1px 5px; background-color: #bbb; text-align: center;}


/* REVIEW LIST*/
.revWrap { 
  display: flex; align-items: center; 
  margin: 0; padding: 10px 0;
  border-bottom: 1px solid #ddd; 
}
.revWrap:first-of-type { border-top: 1px solid black; }

.toggleBtn, .toggleBtn:hover, .toggleBtn:active, .toggleBtn:focus { 
  background-color: transparent; border: 0; color: black; box-shadow: none; outline: none;
}
.toggleBtn::after { content: none; }


/* HEART LIST */ 
.heartList { padding: 10px 0; border-top: 1px solid grey; }
.heartWrap { padding: 10px 0; display: flex; justify-content: space-between; }
.heartWrap .heartImg { width: 100px; height: 150px; background-color: #ddd; }

.heartWrap .heartInfo { padding: 0 20px; margin-right: auto; }
.heartWrap .heartInfo .heartTitle { font-size: 18px; }
.heartWrap .heartInfo .heartContent { font-size: 14px; }
.heartWrap .heartInfo .heartContent span { color: #777; }
.heartWrap .heartInfo .heartContent span::after { content: '|'; padding: 0 10px; }
.heartWrap .heartInfo .heartContent span:last-of-type::after { content: ''; }
.heartWrap .heartInfo .heartPrice { font-size: 16px; }

.heartWrap .heartSeller { display: flex; font-size: 18px; align-items: center; margin-bottom: auto }
.heartWrap .heartSeller .person { font-size: 20px;  }


/* MYPAGE EDIT */
.confirm { display: flex; flex-direction: column; text-align: center; justify-content: center; }

.editPage { padding: 50px 100px; }

.input_box { display: flex; }
.input_box .value { width: 30%; }
.input_box input { width: 70%; }

.error_box { margin-left: 30%; width: 70%; color: red;  }

.btnWrap { }
.btnWrap .cancel {}
.btnWrap .edit {}



/* REVIEW WRITE */
.rating { margin: 80px auto 0; text-align: center; }
.selectTag { padding: 30px 0; }
.selectTag .tagWrap { display: flex; flex-wrap: wrap; gap: 10px 20px; }
.selectTag .tagWrap .tagBtn { 
  display: flex; width: calc(50% - 10px); 
  padding: 5px 0; border: 0; border-radius: 10px; 
}
.selectTag .tagWrap .tagBtn p { margin-left: 20px; }

.reviewWrite {  }

.review p { margin: 15px 0; }
.review p span { 
  margin: 0 5px;
  padding: 3px 8px; 
  background-color: #427D9D; 
  border-radius: 7px; 
  font-size: 12px; color: white; 
}

.btnWrap { text-align: end; }
