.updateBtn, .deleteBtn, .alertBtn, .goBoard {
  border: 1px solid #e8e8e8;
  font-size: 13px;
}

.inner{
    margin-top: 70px;
    font-size: 25px;
}

.optioninfo{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
    font-size: 13px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.name{
    display: flex;
}

.innerbox{
    background-color: lightblue;
    height: 250px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.infopic{
    background-color: #ddd;
    border: 1px solid black;
}

.book_image{
    object-fit: cover;
    width: 120px;
    border: 1px solid black;
}

.no_book_image{
    object-fit: cover;
    width: 120px;
    border: 1px solid black;
}

.infocate{
    width: 40%;
    border-radius: 5px;
    height: 80%;
    line-height: 200%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cateinfo{
    border: 1px solid black;
    background-color: #ddd;
    text-align: center;
    border-radius: 5px;
}

.boxinfo{
    height: 70%;
    align-content: space-around;
}


.info01{
    text-align: center;
    width: 25%;
    line-height : 100px;
    border-radius: 5px;
}

.info02{
    text-align: center;
    width: 70%;
    line-height : 100px;
    border-bottom: 1px solid #ddd;
}

.info022{
    text-align: center;
    width: 70%;
    line-height: 40px;
    align-content: space-around;
    border-bottom: 1px solid #ddd;
}

.infocaution2{
    width: 70%;
    line-height: 30px;
    border-bottom: 1px solid #ddd;
}

.info04{
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.info0102{
    display: flex;
    height: 100px;
    margin-bottom: 1%;
    border-radius: 5px;
    justify-content: space-between;
}

.infocaution{
    display: flex;
    height: 50%;
    margin-bottom: 1%;
    border-radius: 5px;
    justify-content: space-between;
}

.info0405{
    width: 70%;
    display: flex;
    justify-content : center;
    align-items : center;
    text-indent: 10px;
    border-bottom: 1px solid #ddd;
}

.anotherinfo{
    background-color: lightblue;
    height: 300px;
    width: 70%;
    float: right;
    border: 1px solid black;
    border-radius: 5px;   
}

.anotherbookcon{
    height: 300px;
    width: 100%;
}

.anotherbook{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 30px;
    line-height: 250%;
}

.another{
    margin-top: 40px;
}

.other_div { 
    margin-top: 300px; 
    border-top: solid 1px #ababab;
    display: grid;
    grid-template-columns: 25% 40% 25%;
}

.Like { margin : 50px 0px 0px 48%; }
.Like img { width: 60px; cursor: pointer; }
.Like h5 { margin-top: 10px;}