.list_box{
    padding: 20px 0;
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
    display: flex;
    justify-content: space-between;
}

.productList{
    width: 83%;
    padding: 0 10px;
}

.add_box{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.add_btn{
    color:#fff;
    background-color: rgb(77, 145, 182) !important;
    border:1px solid rgb(77, 145, 182) !important;
}

.add_btn:hover, .add_btn:active{
    background-color: rgb(22, 72, 99) !important;
    border:1px solid rgb(22, 72, 99) !important;
}

.product_box{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product_link{
    width: 100%;
}

.product_link:hover{
    text-decoration: none;
}

.search_option_btn {
    color:#fff;
    background-color: rgb(77, 145, 182) !important;
    border:1px solid rgb(77, 145, 182) !important;
}

.search_option_btn:hover{
    background-color: rgb(22, 72, 99) !important;
    border:1px solid rgb(22, 72, 99) !important;
}

.search_confirm_btn{
    color:#fff;
    background-color: rgb(77, 145, 182) !important;
    border:1px solid rgb(77, 145, 182) !important;
}

.search_confirm_btn:hover{
    background-color: rgb(22, 72, 99) !important;
    border:1px solid rgb(22, 72, 99) !important;
}

.product{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #fdfdfd;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-around;
    transition: 0.4s;
}

.product:hover{
    box-shadow: 0 0 5px #cecece;
}

.loading_box{
    margin:50px;
}

.bookpic{
    height: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1.65;
    box-shadow: 0 0 4px #cecece;
}

.no_bookpic{
    height: 100%;
    border-radius: 5px;
    aspect-ratio: 1/1.65;
    box-shadow: 0 0 4px #cecece;
    opacity: 0.5;
}

.bookinfoabout{
    width : 50%;
    padding: 0 5px;
}

.book_title{
    line-height: 2;
    font-size: 20px;
}

.book_info{
    line-height: 2;
    color:#555555;
}

/* 상품 */
.writer:after,
.publisher:after{
    content:'|';
    margin: 5px;
}

.seller_info{
    width: 10%;
}

.option_box {
    display: flex; justify-content: space-between;
    align-items: center;
}

.pagination{
    margin: 0;
}

.pagination *{
    border:none;
}

.pagination{
    --bs-pagination-color: rgb(77, 145, 182) !important;
    --bs-pagination-active-border-color: rgb(77, 145, 182) !important;
    --bs-pagination-active-bg: rgb(77, 145, 182) !important;
    --bs-pagination-hover-color: rgb(77, 145, 182) !important;
    --bs-pagination-focus-color: rgb(77, 145, 182) !important;
    --bs-pagination-focus-box-shadow: none !important;
}

.buttonList{
    display: flex; justify-content: flex-end;
    line-height: 0;
}

.condition_select, .order_select {
    margin: 0 10px; padding: 5px;
    width: 120px;
    text-align: center;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.category_box{
    width:15%;
    padding: 0;
}

.category_list {
    margin:0;
    padding: 10px;
    position: sticky;
    background-color: #fdfdfd;
    border: 1px solid #dddddd;
    border-radius: 10px;
    text-align: center;
}

.category {
    margin: 5px 0;
}

.category_btn {
    width: 100%;
    padding:5px 10px;
    background-color: transparent;
    border-radius: 5px;
    color : black;
    border: 1px solid rgb(77, 145, 182);
}

.category_btn:hover {
    background-color: rgb(77, 145, 182);
    color:#fff;
    transition: 0.2s;
}

button:disabled.category_btn {
    color:#fff;
    background-color: rgb(77, 145, 182);
}

.heart{
    color:rgb(255, 54, 19);
}