.board .onPostBtn {background-color: #4D91B6; border: none;}
.board .boardHeader {margin-top: 40px}
.board .listHeader {padding: 20px 0 17px; border-bottom: 1px solid #171717;}

.board .list {padding: 32px; border-bottom: 1px solid #e8e8e8; cursor: pointer;}
.board .listTitle {font-size: 18px;}
.board .listContent {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-bottom: 10px;
    color: #6A6A6A;
}
.board .listInfo .userid:after{
  content:'|';
  margin: 5px;
}
