a{
    text-decoration: none; color:black;
}

a:hover{
    text-decoration: underline;
}

.user_menu{
    width: 15%;
}

.other_user{
    width: 85%;
}

.report_btn{
    
}

.section_sub_box {
    margin-top: 40px;
}

.box{
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #dddddd;
}

.image_box{
    width: 100px; height: 100px;
    background-color: #d6d6d6;
    border-radius: 100%;
}

.title .box{
    width: 30%;
    text-align: center;
}

.review_title_box{
    margin-bottom : 20px;
}

.user_info{
    margin:10px; padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #dddddd;
    text-align: center;
}

.liked{
    width: 15%;
    margin: 0 10px 10px 0;
}

.tag{
    width: 85%;
    margin: 0 0 10px 10px;
}

.more_btn{
    margin: 0 0 8px;
    padding: 10px;
    border-radius: 5px;
}

.review_box *{
    margin: 0;
    text-align: center;
}

.score, .writer, .date{
    width: 15%;
}

.review{
    width: 50%;
}

.review_box .book_title{
    margin-bottom: 5px;
    padding: 0;
    height: 25px;
}

.review-content {
    overflow: hidden;
}

.book_card{
    width: 120px;
}

.book_image_box{
    height: 120px;
}

.book_info .book_title, .book_info .price{
    padding:0; margin: 5px 0 0;
    text-align: center;
}